$body-bg: rgb(245, 245, 245);
$main-color: #ee4d2d;
$txt-color: #222;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 02) 0px 7px 29px 0px;

$border-radius: 16px;
$mobile-width: 739px;
$tablet-width: 1023px;
$header-height: 120px;
$navbar-height: 34px;

$font-family: "Roboto", "sans-serif";

$color: (
    "blue": #4267b2,
    "white": #fff,
    "black": #000,
);
